.voting-booth {
    margin: 0 auto;
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin-left: -130px;
    overflow: hidden;
}

.candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.vote-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.vote-button:hover {
    background-color: #45a049;
}